.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  /*background-color: #282c34;*/
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

header {
  background-color: #8ad2c0;
  color: #3b4e49;
  padding: 0.5em;
  flex: 0 0 auto;
}

main {
  background-color: #b5e5d9;
  color: #3b4e49;
  flex: 1 1 auto;
}
